header, footer {
background-color: blue;
color: purple#FFFF00;
padding: 20px;
text-align: center;
}
aside {
padding-top: 10px;
font-weight: bold;
}
title {color: darkblue

}
body{
background-color: 
}
h2 {
background-color: seagreen;
color: darkblue#FFFF00
}
#unorderedlist{
color: darkgreen;
}